# Exercise 6 (US - Baby Names (Stats))

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [16]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [4]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [18]:
baby_names.drop(columns=["Unnamed: 0","Id"], inplace=True)
baby_names.head()

      Name  Year Gender State  Count
0     Emma  2004      F    AK     62
1  Madison  2004      F    AK     48
2   Hannah  2004      F    AK     46
3    Grace  2004      F    AK     44
4    Emily  2004      F    AK     41

### Step 6. Is there more male or female names in the dataset?

In [19]:
baby_names['Gender'].value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

### Step 7. Group the dataset by name and assign to names

In [25]:
names = baby_names.groupby("Name").sum().reset_index()
names[['Name', 'Count']]

          Name  Count
0        Aaban     12
1        Aadan     23
2      Aadarsh      5
3        Aaden   3426
4       Aadhav      6
...        ...    ...
17627     Zyra     42
17628    Zyrah     11
17629    Zyren      6
17630    Zyria     59
17631   Zyriah     58

[17632 rows x 2 columns]

### Step 8. How many different names exist in the dataset?

In [26]:
len(names)

17632

### Step 9. What is the name with most occurrences?

In [32]:
names["Name"][names["Count"]==names["Count"].max()]

7198    Jacob
Name: Name, dtype: object

### Step 10. How many different names have the least occurrences?

In [34]:
len(names["Name"][names["Count"]==names["Count"].min()])

2578

### Step 11. What is the median name occurrence?

In [38]:
names["Name"][names["Count"]==names["Count"].median()]

524      Aishani
637        Alara
986       Alysse
1083       Ameir
1360       Anely
          ...
15403     Sriram
16250    Trinton
16622       Vita
17119       Yoni
17570    Zuleima
Name: Name, Length: 66, dtype: object

### Step 12. What is the standard deviation of names?

In [39]:
names["Count"].std()

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [40]:
names["Count"].describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64